@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	
	font:normal 12px/1.8em Times, Helvetica, sans-serif;
	background:#ffffff url(../img/images1/main_bg.gif) repeat-x top;
}

.noticia{
text-align: justify;
}
html, .main {
	padding:0;
	margin:0;
}
.logo {
	width:320px;
	height:61px;
	padding:0;
	margin:0 auto;
	float:left;
}
h1 {
	margin:0;
	padding:12px 0 0;
	color:#636363;
	font:bold 38px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
	text-align:center;
}
h1 a, h1 a:hover {
	color:#636363;
	text-decoration:none;
}
h1 span {
	color:#97c950;
}
h1 small {
	padding:0 10px;
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:0;
	color:#595959;
}
h3 {
	font:normal 56px Arial, Helvetica, sans-serif;
	padding:18px 0 8px;
	margin:0;
	color:#fdfdfd;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
}
a {
	color:#97c950;
	text-decoration:underline;
}
a.rm, a.com {
	padding:0;
	text-decoration:none;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
	padding:0 0 61px;
	background:url(../img/images1/main_bg.gif) repeat-x bottom;
	
}
.header_resize {
	margin:0 auto;
	width:970px;
}
.hbg {
	padding:0;
	background:#97c950;
	margin:0;
}
.hbg img {
	margin:0;
}
.hbg div.info {
	text-align:center;
	width:540px;
	padding:80px 0 0;
}
.menu_nav {
	margin:0;
	padding:25px 0 0 0;
	width:570px;
	float:right;
}
.menu_nav ul {
	list-style:none;
	margin:0;
	padding:0;
	float:right;
}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0 0 0 5px;
	padding:10px 20px;
	color:#878989;
	text-decoration:none;
	font-size:13px;
	line-height:16px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	color:#fff;
	text-decoration:none;
	background:#97c950;
}
.content {
	padding:20px 10px;
	margin:0;
	background:#fbf9f9;

}
.content_resize {
	margin:0 auto;
	width:970px;
}
.mainbar {
	margin:0;
	padding:0;
	float:right;
	width:653px;
}
.mainbar img {
	padding:4px;
	border:1px solid #f2f2f1;
	background:#FFF;
}
.mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.mainbar .article {
	margin:0;
	padding:10px 15px 5px;
	border: 1px solid #E7E7E7;
	margin-left:0px;
	margin-bottom: 8px;
	float:left;
	width:95%;
	
}
.mainbar .post-data a {
	color:#595959;
}
.mainbar .spec a {
	padding:7px 0;
}
.mainbar a.com {
	padding-left:25px;
}
.sidebar {
	padding:0;
	float:left;
	width:280px;
	border: 1px solid #E7E7E7;
}
.sidebar .gadget {
	margin:0;
	padding:10px 15px;
}
.sidebar .gadget .testi {
	padding:0 20px 0 0;
}
.sidebar .gadget .title {
	text-align:right;
}
.sidebar .gadget span.q {
	text-align:right;
	font:normal 60px/12px Arial, Helvetica, sans-serif;
	color:#d9d9d9;
}
ul.sb_menu, ul.ex_menu {
	margin-left:25px;
	padding:0;
	color:#939393;
	list-style:none;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0 4px 15px;
}
ul.ex_menu li {
	padding:4px 0 8px 15px;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#939393;
	text-decoration:none;
	margin-left:-20px;
	padding-left:20px;
	background:url(../img/images1/menu_link.gif) no-repeat left center;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover, ul.sb_menu li.active a, ul.ex_menu li.active a {
	color:#97c950;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:underline;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:20px 0;
	background:url(../img/images1/fbg_bg.gif);
}
.fbg_resize {
	margin:0 auto;
	padding:0;
	width:930px;
}
.fbg h2, .fbg p, .fbg a {
	color:#fdfbfb;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	background-color:#fff;
}
.fbg .col {
	margin:0;
	float:left;
	background:url(../img/images1/fbg_line.gif) repeat-y right;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:320px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:280px;
	background:none;
}
.fbg .c1 img {
	margin:8px 16px 8px 0;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
}
.footer_resize {
	margin:0 auto;
	padding:20px 0;
	width:930px;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
}
.footer a {
	color:#959595;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.search span {
	width:245px;
	display:block;
	background:#FFF;
	height:29px;
	margin:0;
	padding:0;
	border:1px solid #e7e7e7;
}
.search input#s {
	float:left;
	width:195px;
	padding:7px 0 7px 10px;
	margin:0;
	border:0;
	background:none;
	color:#afaeae;
	font:normal 12px/15px Arial, Helvetica, sans-serif;
}
.search .btn {
	float:left;
	padding:0;
	margin:0;
	border:0;
	width:auto;
}
.pagenavi {
	clear:both;
	font:normal 13px Arial, Helvetica, sans-serif;
	margin:0 auto;
	text-align:right;
	padding:15px 13px;
}
.pagenavi a, .pagenavi .current {
	margin-left:3px;
	padding:3px 8px;
	text-decoration:none;
	color:#939393;
	background:#FFF;
	border:1px solid #d9e3cb;
}
.pagenavi a:hover, .pagenavi .current {
	background:#97c950;
	color:#fff;
}
.pagenavi .pages {
	float:left;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

.respuesta { 
	border-top-color: #e7e7e7;
	border-top-style: solid;
	border-top-width: 1px;
	margin-bottom: 24px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 24px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
 }
 
 .respuesta input { 
	margin-bottom: 9px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	width: 98%;
 }
 
 .respuesta input[type="text"], textarea { 
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #f9f9f9;
	background-image: none;
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-size: auto;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #cccccc;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #cccccc;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #cccccc;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: inset 1px 1px 1px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
 }

.respuesta textarea { 
width: 98%;
 }
 
 .respuesta input[type="submit"]{ 
 margin-top:6px;
 width: 28%;
 }
 
.respuesta checkbox {
	width: auto;
}

.respuesta  input[type="checkbox"]{ 
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    width: 3%;
    margin-top:2px;
}

.comentarios hr { 
	margin;2px;
	color: gray;
	size:1px;
 }

.fotos img
{
	padding: 10px;
	margin: 12px 12px 12px 12px;
	border:solid 1px #DEDEDE; 
	background:#EFEFEF;
	float: left;
}

.cuadro_paginacion
{
	padding: 4px;
	margin: 4px 4px 10px 4px;
	border:solid 1px #DEDEDE; 
	background:#EFEFEF;
	float: left;
	width: 98%;
	text-align: center;

}